<body>
	<section id='basicInfo'>
		<canvas id='basicInfoImage'>
			
		</canvas>

		<div id='basicInfoText'>
			<ul>
				<li>Benjamin Bao</li>
				<li>University of California, Los Angeles</li>
				<li>10933 Rochester Ave, Apt 416</li>
				<li>Los Angeles, CA 90024</li>
				<li>Cell: 3109139124</li>
				<li>Email: byyagp@gmail.com</li>
			</ul>
		</div>
	</section>
</body>